<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
    <br/>
    <label for="role">Enter role: </label>
    <input type="text" th:field="*{role}" id="role"/>
    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

<br/>
<a href="/hello">Back to hello page</a>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>