<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update genshinHero</title>
</head>
<body>

<form th:action="@{/tasks/{id}(id=${task.getId()})}" th:method="patch" th:object="${task}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <label for="title">Enter title: </label>
    <input id="title" th:field="*{title}" type="text"/>
    <div style="color:red" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">title Error</div>
    <br/>
    <label for="description">Enter description: </label>
    <input id="description" th:field="*{description}" type="text"/>
    <div style="color:red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">description Error
    </div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<a href="/hello">Back to hello page</a>
<br/>
<hr/>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>