<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
</head>
<body>
<div th:each="task : ${taskList}">
    <a th:href="@{/tasks/{id}(id=${task.getId()})}"
       th:text="${task.getId() + ', ' + task.getTitle() + ', ' + task.getDescription()}">user</a>
</div>
<br/>
<hr/>
<br/>
<div th:if="${currentRole.equals('ROLE_ADMIN')}">
    <a href="tasks/new">Create new task</a>
</div>
<br/>
<a href="/hello">Back to hello page</a>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>